

.navbar{
  background-color: gold;
  background-color:rgba(255,255,0,0.6);
}
.navbar-toggler-icon {
  background-image: url("img/bars.png");
}
footer {
  width: 25%;
  background-color: gold;
  background-color:rgba(255,255,0,0.6);
  padding: 3%;
  color: red;
}
h5 {
  font-size: 40px;
  color:#9B898B;
  overflow: hidden;
   position: relative;

}
h6 {
 font-weight: bold;
 font-size: 300%;
 text-align: center;
 left: 100px;
 top: 150px;
 color: rgb(0, 0, 77);
 text-shadow: 2px 2px 5px red;
 font-family: 'Wendy One', sans-serif;
}
caption{
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%; // Add this
  }
  .nav-link{
  color: rgb(0, 0, 77);
  }
.nav-brand{
  background-color: green;
}
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.donate {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

p{
color:rgb(0, 0, 77);
font-family: 'Gupter', serif;
font-size: 100%;
text-align: center;
}

h4{
  color: gold;
  font-family: 'Alata', sans-serif;
}
.hero-image{
text-align: center;
}
h1{
  text-align: center;
}
col-md-6
