

.navbar{
  background-color: gold;
  background-color:rgba(255,255,0,0.6);
}
.navbar-toggler-icon {
  background-image: url("img/bars.png");
}
footer {
  width: 25%;
  background-color: gold;
  background-color:rgba(255,255,0,0.6);
  padding: 3%;
  color: red;
}
h5 {
  font-size: 40px;
  color: rgb(0, 0, 77);
  background-color:rgba(255,255,0,0.6);
}
